{{- $email := promptStringOnce . "email" "Git email" "raganw@gmail.com" -}}
{{- $githubUser := promptStringOnce . "github_user" "GitHub username" "raganw" -}}

[data]
  email = {{ $email | quote }}
  github_user = {{ $githubUser | quote }}
  xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"

[diff]
  pager = "delta"
  format = "git"
  args = [ "--paging" , "never" ]
  exclude = [ "dirs", "externals", "scripts" ]

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}",
  ]

[edit]
  command = "nvim"
