[user]
	name = Ragan Webber
	email = raganw@gmail.com
[branch]
	autosetuprebase = always

[alias]
# Various shortcuts
ec = config --global -e
br = branch -a
branches = branch -a
ca = commit -a -m
ci = commit
co = checkout
cob = checkout -b
dff = diff --no-ext-diff
di = diff --staged
pick = cherry-pick
rbc = rebase --continue
st = status
up = "!git pull --rebase --prune $@ && git submodule update --init --recursive"
cm = "!git add -A && git commit -m"
save = "!git add -A && git commit -m 'SAVEPOINT'"
wip = "!git add -u && git commit -m 'WIP' "
undo = reset HEAD~1 --mixed
amend = commit -a --amend
wipe = "!git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard"

# Render git log as graph
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

# Show new commits in master that aren't in current branch
new = log master.. --reverse

# Checkout pull request as local branch
pr = !f() { git fetch -fu upstream refs/pull/$1/head:pr/$1; } ; f

# Remove all local pull request branches
pr-clean = !git for-each-ref 'refs/heads/pr/*' --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done

# Checkout pull request against your origin
pro = !f() { git fetch -fu origin refs/pull/$1/head:pr/$1; } ; f
[mergetool]
	keepBackup = true
[push]
	default = matching
